<!DOCTYPE html> {% load static %}
<html>

<head>
        <title>Users</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
                crossorigin="anonymous">
        <link rel='stylesheet' href="{% static 'users/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'snacks:index' %}">Snacks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'snacks:new' %}">Add Snack</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users:show' user.id %}">Account</a>
                                </li>
                                {% if user.is_admin %}
                                <li class="nav-item">
                                        <a style='color:rgb(187, 49, 49);' class="nav-link" href="{% url 'snacks:cart' %}">Shopping Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:admin' %}">Add Admins</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'snacks:inventory' %}">Inventory</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                                </li>
                        </ul>
                        <span class="navbar-text">
                                <form class="form-inline" action="{% url 'snacks:search' %}" method="POST">
                                        {% csrf_token %}

                                        <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search snack.." aria-label="Search">
                                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>

                                </form>
                        </span>
                </div>
        </nav>
        <br>

        <div class="container">
                <h1>Your Cart</h1>
                <br>
                <div class="row">
                        {% for snack in cart.itervalues %}
                        <div class="col" style='margin-left: 18px; margin-top: 20px;'>
                                <div class="card" style="width: 18em">
                                        <div class="img-responsive img-thumbnail ratio-4-3" style="height:18em;background:url({{snack.picture_url}}) no-repeat;background-size:contain;background-position:center"></div>
                                        <div class="card-body">
                                                <h5>
                                                        <a href="{% url 'snacks:show' snack.id %}">{{snack.name}}</a>
                                                </h5>
                                                <p>Category: {{snack.category}}</p>
                                                <p>Brand: {{snack.brand}}</p>
                                                <form action="{% url 'snacks:quantity' snack.id %}" method="POST">
                                                        {% csrf_token %}
                                                    <input type="number" name="quantity" value="{{snack.quantity}}">
                                                    <input type="submit" value="Add Quantity">
                                                </form><br>
                                                <form action="{% url 'snacks:destroysnack' snack.id %}" method="POST">
                                                        {% csrf_token %}

                                                        <input style='width:245px' class="btn btn-danger" type="submit" value="Remove from Cart">
                                                </form>

                                        </div>
                                </div>
                        </div>
                        
                        <br> {% endfor %}
                        
                </div>
                <form action="{% url 'snacks:checkout' %}" action="POST">
                        <input type="submit" value="Checkout">
                    </form>
        </div>
</body>

</html>