<!DOCTYPE html>
{% load static %}
<html>
	<head>
        <title>Users</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel='stylesheet' href="{% static 'users/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body>
        <a href="{% url 'users:show' user.id %}">Account</a>
        <a href="{% url 'snacks:index' %}">Snacks</a>
        <a href="{% url 'snacks:new' %}">New Snack</a>
        <a href="{% url 'users:logout' %}">logout</a>

        <form action="{% url 'snacks:search' %}" method="POST">
            {% csrf_token %}
            <input type="text" name='search'>
            <input type="submit" value='Search'>
        </form>
        {% if snacks.count > 0 %}
        {% for snack in snacks %}
        <h5><a href="{% url 'snacks:show' snack.id %}">{{snack.name}}</a></h5>
        <img src="{{snack.picture_url}}">
        <p>Category: {{snack.category.name}}</p>
        <p>Brand: {{snack.brand.name}}</p>
        <p>Total Purchased: {{snack.total_purchased_amount}}</p>
        <p>Average Rating: {{ Snack.objects|avg_rating:snack }}</p>
        {% endfor %}
        {% endif %}

    </body>
</html>