<!DOCTYPE html>
{% load static %}
<html>
	<head>
        <title>Users</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel='stylesheet' href="{% static 'users/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body>
        <h1>New Snack</h1>
        <form action="{% url 'snacks:create' %}" method="POST">
            <div class="form-group">
                {% csrf_token %}
                Name: <input type="text" name="name" class="form-control">
                {% if request.session.name %}
                <p>{{request.session.name}}</p>
                {% endif %}
                Price: <input type="number" step="0.01" name="price"class="form-control">
                {% if request.session.price %}
                <p>{{request.session.price}}</p>
                {% endif %}
                Brand: <select name="brand">
                    <option value="" selected disabled hidden>{{brand_name}}</option>
                    {% for brand in brands %}
                    <option value="{{brand.name}}">{{brand.name}}</option>
                    {% endfor %}
                </select>
                
                {% if request.session.brand %}
                <p>{{request.session.brand}}</p>
                {% endif %}
                Add a New Brand: <input type="text" name='nbrand'>
                Category: <select name='category'>
                        <option value="" selected disabled hidden>{{category_name}}</option>
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                {% if request.session.category %}
                <p>{{request.session.category}}</p>
                {% endif %}
                Add a New Category: <input type="text" name='ncategory'>
                <input type="submit" value="Add Snack">
            </div>
        </form>
    </body>
</html>